In [2]:
from pathlib import Path
import pandas as pd
import tarfile
import urllib.request

def load_data():
    tarball_path = Path("datasets/housing.tgz")

    if not tarball_path.is_file():
        Path("datasets").mkdir(parents=True, exist_ok=True)
        url = "https://github.com/ageron/data/raw/main/housing.tgz"
        urllib.request.urlretrieve(url, tarball_path)
        with tarfile.open(tarball_path) as housing_tarball:
            housing_tarball.extractall(path="datasets")

    return pd.read_csv(Path("datasets/housing/housing.csv"))

In [5]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [16]:


link = "https://www.batteryarchive.org/data/UL-PUR_N10-EX9_18650_NCA_23C_0-100_0.5-0.5C_i_timeseries.csv"
_list = ['UL-PUR_N10-EX9_18650_NCA_23C_0-100_0.5-0.5C_i']
_dir = r'~/'

for name in _list:
    link = 'https://www.batteryarchive.org/data/' + name +'_timeseries.csv'
    df = pd.read_csv(link)
    df.to_pickle(_dir+name+".pkl")

In [9]:
df.head()
df.describe()

,Date_Time,Test_Time (s),Cycle_Index,Current (A),Voltage (V),Charge_Capacity (Ah),Discharge_Capacity (Ah),Charge_Energy (Wh),Discharge_Energy (Wh),Environment_Temperature (C),Cell_Temperature (C)
0,1970-01-01 00:00:00.078,0.078,1.0,1.133,3.676,0.000,0.0,0.000,0.0,NaN,28.535
1,1970-01-01 00:00:29.045,29.045,1.0,1.133,3.701,0.005,0.0,0.008,0.0,NaN,28.579
2,1970-01-01 00:02:29.051,149.051,1.0,1.133,3.725,0.042,0.0,0.149,0.0,NaN,28.410
3,1970-01-01 00:04:29.060,269.060,1.0,1.133,3.734,0.080,0.0,0.290,0.0,NaN,28.302
4,1970-01-01 00:06:29.068,389.068,1.0,1.133,3.742,0.118,0.0,0.431,0.0,NaN,28.241

,Test_Time (s),Cycle_Index,Current (A),Voltage (V),Charge_Capacity (Ah),Discharge_Capacity (Ah),Charge_Energy (Wh),Discharge_Energy (Wh),Environment_Temperature (C),Cell_Temperature (C)
count,4.359900e+04,43599.000000,43599.000000,43599.000000,43599.000000,43599.000000,43599.000000,43599.000000,0.0,43599.000000
mean,2.075652e+06,98.093098,-0.074382,3.664565,1.241939,0.897311,4.783064,3.213896,NaN,28.006832
std,1.169250e+06,60.444825,1.213886,0.466177,1.292901,1.186825,5.025162,4.200332,NaN,2.956912
min,7.800000e-02,1.000000,-1.600000,2.496000,0.000000,0.000000,0.000000,0.000000,NaN,19.949000
25%,1.085711e+06,42.000000,-1.600000,3.320000,0.000000,0.000000,0.000000,0.000000,NaN,26.206000
50%,2.087219e+06,97.000000,0.051000,3.728000,0.711000,0.000000,2.556000,0.000000,NaN,27.978000
75%,3.086508e+06,151.000000,1.133000,4.171000,2.763000,2.011000,10.794000,7.281500,NaN,29.753000
max,4.080196e+06,205.000000,1.600000,4.201000,3.311000,3.306000,12.707000,11.678000,NaN,36.720000